@page "/librodetalle"

@inject ILibrosService LibroServicio



<RadzenTemplateForm Data="Libro" Submit="@((LibroView libro)=> {Submit(libro);})">
    <div class="row">
        <div class="col-md-12">
            <RadzenFieldset Text="Información General del libro">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Título"></RadzenLabel>

                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Style="width:100%" Name="@nameof(LibroView.Titulo)" MaxLength="45"></RadzenTextBox>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Sinopsis"></RadzenLabel>

                    </div>
                    <div class="col-md-8">
                        <RadzenTextArea Style="width:100%" Name="@nameof(LibroView.Sinopsis)" MaxLength="50" Placeholder="Caracter máximo 50"></RadzenTextArea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Número de Páginas"></RadzenLabel>

                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Style="width:100%" Name="@nameof(LibroView.NumeroPaginas)" MaxLength="50"></RadzenTextBox>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="ISBN"></RadzenLabel>

                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Style="width:100%" Name="@nameof(LibroView.ISBN)" MaxLength="50"></RadzenTextBox>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Editorial"></RadzenLabel>

                    </div>
                    <div class="col-md-8">
                        <RadzenDropDown @bind-Value="Libro.OIDEditorial" AllowClear="true" Placeholder="Select something" Data="@Editoriales" style="width: 100%;" TextProperty="@nameof(EditorialView.Nombre)" ValueProperty="@nameof(EditorialView.OID)" Name="CardId"></RadzenDropDown>
                    </div>
                </div>
            </RadzenFieldset>
        </div>

    </div>
    <div class="row justify-content-center" >
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top:16px">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Guardar"></RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" Style="display:inline-block; margin-left:10px" Text="Cancelar" Click="@Cancel"></RadzenButton>
        </div>

    </div>
</RadzenTemplateForm>

@*<EditForm Model="@Libro">
        <table class="table">
            <tr>
                <td>Título</td>
                <td><input type="text" @bind="Libro.Titulo" /></td>
            </tr>
            <tr>
                <td>Sinopsis</td>
                <td><input type="text" @bind="Libro.Sinopsis" /></td>


            </tr>
            <tr>
                <td>Número de Páginas</td>
                <td><input type="text" @bind="Libro.NumeroPaginas" /></td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Guardar" />
                    <input type="button" value="Cancelar" />
                </td>
            </tr>
        </table>
    </EditForm>*@
@code {
    LibroView Libro { get; set; }
    List<EditorialView> Editoriales { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var Token = new System.Threading.CancellationTokenSource();
        Editoriales = new List<EditorialView>()
        {
            new EditorialView
            {
                Nombre = "Edit1",
                Sede = "Sede1"
            }
        };
        //Libro = await LibroServicio.GetLibroAsync(1, Token.Token);
        Libro = new LibroView();
    }

    Task Submit(LibroView libro)
    {

        return null;
    }
    void Cancel()
    {

    }
}
